<?xml version="1.0" encoding="utf-8"?>
<!--
	Copyright 2017-2022 Pranav Pandey

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

	   http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
-->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission used by the foreground app monitor. -->
    <uses-permission android:name="android.permission.GET_TASKS"
        android:maxSdkVersion="19" />
    <!-- This permission must be allowed on API 21 and above. -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- This permission is required to query all packages on API 30 and above. -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <!-- Permission used by the call state listener. -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>

        <!-- Broadcast receiver to receive call events. -->
        <receiver
            android:name="com.pranavpandey.android.dynamic.engine.receiver.DynamicStateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
